# Dependencies
node_modules/

# Environment
.env

# OS
.DS_Store
Thumbs.db

# IDE
.idea/

# Build
dist/
build/

# Expo
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Testing
coverage/
